
    <div class="main-screen page-4">
        <div class="question">Can My Computer Run This Game?</div>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <h1 class="sysreq">system<br>requirements</h1>
                    <table class="table-bordered" cellpadding=5px>
                        <tr>
                          <td>
                            <h1 class="table-heading">OS</h1>
                            <p class="description">Windowns 7 64-bit only<br>(No OSX support at this time)</p>
                          </td>
                          <td>
                            <h1 class="table-heading">processor</h1>
                            <p class="description">Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHz</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h1 class="table-heading">Memory</h1>
                            <p class="description">4 GB RAM</p>
                          </td>
                          <td>
                            <h1 class="table-heading">Storage</h1>
                            <p class="description">8 GB available space</p>
                          </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                              <h1 class="table-heading">Graphics</h1>
                              <p class="description">NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                            </td>
                        </tr>
                      </table>
                </div>
                <div class="col-5"></div>
            </div>
        </div>
    </div>