
    <div class="main-screen page-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="top-scores">top scores</h1>
                    <p class="desc-of-text">This top score from various games provided<br>on this platform</p>
                    <button type="button" class="btn btn-warning mt-5 btn-page5">see more</button>
                </div>
                <div class="col card-data">
                    <div class="row row-cols-1 row-cols-md-2 g-4 d-flex flex-column align-items-center card-col">
                        <div class="col">
                          <div class="card isi-card">
                            <div class="card-body">
                              <img class="picture" src="./assets/image1.jpg" alt="evan-lahti">
                              <div class="name">
                                <p class="orange-name">Evan Lahti</p>
                                <p class="work-place">PC Gamer</p>
                              </div>
                              <div class="clear"></div>
                              <img src="./assets/twitter.svg" alt="twitter" class="twitter-logo">
                              <p class="card-text">"One of my gaming highlights of the year".</p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">June 18, 2021</small>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card isi-card card-2">
                            <div class="card-body">
                              <img class="picture" src="./assets/image2.jpg" alt="Jada Griffin">
                              <div class="name">
                                <p class="orange-name">Jada Griffin</p>
                                <p class="work-place">Nerdreactor</p>
                              </div>
                              <div class="clear"></div>
                              <img src="./assets/twitter.svg" alt="twitter" class="twitter-logo">
                              <p class="card-text">"The next big thing in the world of streaming and survival games".</p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">July 10, 2021</small>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card isi-card">
                            <div class="card-body">
                              <img class="picture" src="./assets/image3.jpg" alt="evan-lahti">
                              <div class="name">
                                <p class="orange-name">Aarons Williams</p>
                                <p class="work-place">Uproxx</p>
                              </div>
                              <div class="clear"></div>
                              <img src="./assets/twitter.svg" alt="twitter" class="twitter-logo">
                              <p class="card-text">"Snoop Dogg Playing the Wildly Entertaining 'SOS' is Ridiculous".</p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">December 24, 2018</small>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>