    <div class="main-screen page-3">
        <div class="container">
            <div class="row main-page3-1">
                <div class="col-7"></div>
                <div class="col-5">
                    <div class="what-special">What's so special?</div>
                    <h1 class="features">features</h1>
                </div>
            </div>
            <div class="row main-page3-2">
                <div class="col-7"></div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-1">
                            <div class="white-circle"></div>
                            <div class="vertical-line"></div>
                            <div class="white-outer-circle"></div>
                            <div class="white-outer-circle-2"></div>
                        </div>
                        <div class="col-11">
                            <div class="feature-1">traditional games</div>
                            <div class="exp-feature-1">If you miss your childhood, we provide<br>many traditional games here</div>
                            <div class="row">
                                <div class="col">
                                    <div class="feature-2">game suit</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="feature-3">tbd</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>