    <div class='main-screen page-1'>
        <nav class="navbar navbar-expand-lg navbar-light bg-black opacity-75">
            <div class="container">
                <a class="navbar-brand nav-logo" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav m-auto mt-2">
                        <a class="nav-link nav-menu" href="#">Home</a>
                        <a class="nav-link nav-menu" href="#">Work</a>
                        <a class="nav-link nav-menu" href="#">Contact</a>
                        <a class="nav-link nav-menu" href="#">About me</a>
                    </div>
                    <div class="navbar-nav mt-2">
                        <a class="nav-link nav-menu" href="/register">Sign up</a>
                        <a class="nav-link nav-menu" href="/login">Login</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row main-1 d-flex align-items-center">
                <div class="col">
                    <h1 class="main-h1-1">play traditional game</h1>
                    <div class="main-h2-1 mt-5">Experience new traditional game play</div>
                    <a href="/login"><button type="button" class="btn btn-warning mt-5 btn-page1">Play now</button></a>
                </div>
            </div>
            <div class="row main-2 d-flex justify-content-center align-items-end">
                <div class="col">
                    <div class="story">story</div>
                    <a class="scroll-btn" href="#"><img src="./assets/scroll down.svg"></a>
                </div>
            </div>
        </div>
    </div>