
    <section class="subscribe-footer">
        <div class="container container-subs">
          <div class="row d-flex align-items-center">
            <div class="col col1">
              <img src="./assets/Rectanglelast.png" alt="">
            </div>
            <div class="col col2">
              <h3>Want to stay in touch?</h3>
              <h1>NEWSLETTER SUBSCRIBE</h1>
              <p>in order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>
              <form action="#" class="d-flex justify-content-between form">
                <label for="email">Your email address</label>
                <input type="email" placeholder="youremail@binar.co.id" id="email">
                <button class="btn btn-warning btn-page6">Subscribe now</button>
              </form>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-7 col-menu1 d-flex justify-content-end align-items-center">
                <ul class="d-flex unlist">
                  <li><a href="#">main</a></li>
                  <li><a href="#">about</a></li>
                  <li><a href="#">game features</a></li>
                  <li><a href="#">system requirements</a></li>
                  <li><a href="#">quotes</a></li>
                </ul>
              </div>
              <div class="col col-menu2 d-flex justify-content-end align-items-center">
                <img src="./assets/facebook.svg" alt="facebook-logo">
                <img src="./assets/twitter.svg" alt="twitter-logo">
                <img src="./assets/Vector.svg" alt="youtube-logo">
                <img src="./assets/twitch.svg" alt="twitch-logo">
              </div>
              <hr width="80%" class="text-white">
              <div class="container">
                <div class="row">
                  <div class="col col-last1">
                    <p>&copy; 2018 Your Games, Inc. All Rights Reserved</p>
                  </div>
                  <div class="col col-last2">
                    <p>privacy policiy | terms of services | code of conduct</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>